*.pyc
dev.db
local_settings.py
media/ugc
docs/_build/
src/
pip-log.txt
media/js/*.r*.js
media/css/*.r*.css
*DS_Store
*.egg-info
transmogrify/testdata/vert_img_*.jpg
transmogrify/testdata/horiz_img_*.jpg
transmogrify/testdata/square_img_*.jpg
transmogrify/testdata/horiz_img-cropped.jpg
dist/
build/
testenv/
Eksponent.CropUp.1.0b7/
cropup_3e3d52bbc980